

{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins',Sans-serif;
}
body
{
		display:flex;
		justify-content:center;
		align-items:center;
		min-height:100vh;
		background:	#091921;
}
.calculator
{
	position : relative;
	display:grid;
	
	
}
.calculator .value
{
	grid-column:span 4;
	height: 120px;
	text-align:right;
	border: none;
	outline: none;
	padding: 10px;
	font-size:20px;
}
.calculator span
{
	dislay:grid;
	font-size:25px;
	text-align:center;
	width:90px;
	height:90px;
	color:#fff;
	background:#0c2835;
	
	border:1px solid rgba(0,0,0,.1);

}
.calculator span:active
{
	background:Gray;
	color:#111;
	
}
.calculator span.clear
{
	background: #f4511e;
	grid-column:span 2;
	width:180px;
	text-align:left;
	
	
}
.calculator span.plus
{
	grid-row:span 2;
	height:180px;
}
.calculator span.equal
{
	background:lightblue;
	height:90px;
	width:90px;
}
	
